{% extends "layout.twig" %}
{% block content %}
    <h1>Авторизация</h1>
    <hr>
    {% if message %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
    {% endif %}
    <form method="POST">
        <div class="mb-3">
            <label class="form-label">Имя пользователя</label>
            <input type="text" class="form-control" name="username">
        </div>
        <div class="mb-3">
            <label class="form-label">Пароль</label>
            <input type="password" class="form-control" name="password">
        </div>
        <button type="submit" class="btn btn-primary">Войти</button>
    </form>
{% endblock %}