{% from "macros.twig" import button %}
{% extends "layout.twig" %}

{% block content %}
<div class="mt-3 mb-3">
    <h1>{{ title }}</h1>
    {{ button("Картинка", "#{url}/image", is_image) }}
    {{ button("Описание", "#{url}/info", is_info) }}
</div>

<ul class="list-group">
  <li class="list-group-item">
    {% block objectContent %}Тут появится информация{% endblock %}
  </li>
</ul>
{% endblock %}