{% extends "layout.twig" %}

{% block content %}

<h1>Добавление типа</h1>
<hr>

{% if message %}
<div class="alert alert-info">
    {{ message }}
</div>
{% endif %}

<form action="" method="POST" class="row g-3 justify-content-center"</form>
    <div class="col-auto">
        <label class="form-label">Новый тип</label>
    </div>

    <div class="col-4">
        <input type="text" class="form-control" name="type">    
    </div>

    <div class="col-auto">
        <button type="submit" class="btn btn-primary">Добавить</button>
    </div>
</form>

<div class="list-group mt-4">
    {% for type in types %}
    <div class="d-flex">
        <a href="/?type={{type.type}}" class="list-group-item list-group-item-action">{{type.type}}</a>
        
        <form action="/type/{{type.id}}/delete" method="POST" class="ms-2">
            <button type="submit" class="btn btn-danger">
                <i class="fa fa-times"></i>
            </button>
        </form>
    </div>
    {% endfor %}
</div>

{% endblock %}